<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>登录页</title>
		<!-- Bootstrap core CSS -->
		<link th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.css}" href="asserts/css/bootstrap.min.css"  rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="asserts/css/signin.css" th:href="@{/asserts/css/signin.css}" rel="stylesheet">
	</head>
<!--	页面编辑时，注意以下几个方面-->
<!--	1. 用户名/密码 字段-->
<!--	2. form表单请求时，要注意：post，action-->
<!--	3. 页面报错时，加入判断条件-->
	<body class="text-center">
		<form class="form-signin" th:action="@{/user/login}" method="post" action="dashboard.html">
			<img class="mb-4" th:src="@{/asserts/img/bootstrap-solid.svg}" src="asserts/img/bootstrap-solid.svg" alt="" width="72" height="72">
			<h1 class="h3 mb-3 font-weight-normal" th:text="#{login.tip}">Please sign in</h1>
	<!--账号/密码输入错误，柜面提示报错-->
			<p th:text="${msg}" style="color: red" th:if="${not #strings.isEmpty(msg)}"/>
			<label class="sr-only">Username</label>
			<input type="text" class="form-control" name="username" placeholder="Username" th:placeholder="#{login.username}" required="" autofocus="">
			<label class="sr-only">Password</label>
			<input type="password" class="form-control" name="password" placeholder="Password" th:placeholder="#{login.pwd}" required="">
			<div class="checkbox mb-3">
				<label>
          <input type="checkbox" value="remember-me" /> [[#{login.remember}]]
        </label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login.sign}">Sign in</button>
			<p class="mt-5 mb-3 text-muted">© 2017-2020</p>
			<a class="btn btn-sm" th:href="@{/login.html(lang='zh_CN')}">中文</a>
			<a class="btn btn-sm" th:href="@{/login.html(lang='en_US')}">English</a>
		</form>

	</body>

</html>